/* reset code starts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", system-ui;
}
/* reset code ends here */
/* main content starts here */
.hero__section{
    background-image: url(img/developer.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__text{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}
.lg__text{
    font-size: 72px;
    font-weight: 400;
}
.black__box{
    background-color: #000;
    padding: 20px;
}
.black__box h2{
    color: white;
    font-size: 72px;
    font-weight: 300;
    text-align: center;
}
.black__box h2 span{
    font-weight: 400;
    font-size: 96px;
}
.work__section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    
    max-width: 1100px;
    margin: 50px auto;
}
.grid__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: all 0.4s linear;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.4);
}
.card__container{
    padding: 20px;
}
.bottom__section{
    display: flex;
}
.contact{
    background-color: #515603;
    min-height: 300px;
    padding: 32px;
    color: white;
}
.about{
    background-color: #722300;
    min-height: 300px;
    padding: 32px;
    color: white;
}
.contact h2, .about h2{
    font-size: 64px;
    font-weight: 400;
}
footer{
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;

}
/* main content ends here */
/* responsiveness starts here */
@media screen and (max-width: 786px){
    .hero__section{
        min-height: 52vh;
    }
    .hero__text{
        padding: 10px 0;
        text-align: center;
    }
    .lg__text{
        font-size: 32px;
    }
    .black__box h2{
        font-size: 24px;
    }
    .black__box h2 span{
        font-weight: 400;
        font-size: 32px;
    }
    .bottom__section{
        flex-direction: column;
    }
    .contact h2, .about h2{
        font-size: 32px;
    }
    
}
/* responsiveness ends here */